# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [4]:
import pandas as pd
import numpy as np

# Seu código aqui
dados = pd.Series([-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02])
dados

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [5]:

# seu código aqui
indice = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
dados.index = indice
dados

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [7]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
dic_temperaturas = pd.Series(dic_temperaturas)
dic_temperaturas

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [42]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
random_df = pd.DataFrame(arr)
random_df

             0           1           2
0   100.098609  102.724374  112.832682
1   107.925073  110.361952  100.171146
2   116.659589   97.659080   80.752048
3    96.818871   85.470304   86.799406
4   106.288572   97.643141   94.359193
5    98.926508   81.536817  114.888968
6    93.371321   98.660907   86.677495
7    91.342399   98.201695  107.182176
8    92.257980  102.389740   90.866830
9    86.201797  116.611586  101.080903
10   88.607169   93.120983  109.325523
11  106.203163  109.896314   96.631849
12   99.466680  100.146088  102.707609
13  113.265555  103.495383  116.660609
14  109.593908  114.155903  115.858576
15   92.104748   98.505640  120.875132
16  105.204586   76.663817  120.402679
17  109.110191   91.253520  100.636626
18  102.188507   92.207204   98.075611
19   95.147308   92.303128   97.650050

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [43]:
#seu código aqui
indice = {item:item+1 for item in range(20)}
random_df.rename(columns = {0: "x1", 1: "x2", 2: "x3"}, inplace=True)
random_df.rename(index = indice, inplace=True) 
random_df

            x1          x2          x3
1   100.098609  102.724374  112.832682
2   107.925073  110.361952  100.171146
3   116.659589   97.659080   80.752048
4    96.818871   85.470304   86.799406
5   106.288572   97.643141   94.359193
6    98.926508   81.536817  114.888968
7    93.371321   98.660907   86.677495
8    91.342399   98.201695  107.182176
9    92.257980  102.389740   90.866830
10   86.201797  116.611586  101.080903
11   88.607169   93.120983  109.325523
12  106.203163  109.896314   96.631849
13   99.466680  100.146088  102.707609
14  113.265555  103.495383  116.660609
15  109.593908  114.155903  115.858576
16   92.104748   98.505640  120.875132
17  105.204586   76.663817  120.402679
18  109.110191   91.253520  100.636626
19  102.188507   92.207204   98.075611
20   95.147308   92.303128   97.650050

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [45]:
# seu código aqui
random_df["media"] = (random_df["x1"] + random_df["x2"] + random_df["x3"]) / 3
random_df

            x1          x2          x3       media
1   100.098609  102.724374  112.832682  105.218555
2   107.925073  110.361952  100.171146  106.152723
3   116.659589   97.659080   80.752048   98.356906
4    96.818871   85.470304   86.799406   89.696194
5   106.288572   97.643141   94.359193   99.430302
6    98.926508   81.536817  114.888968   98.450764
7    93.371321   98.660907   86.677495   92.903241
8    91.342399   98.201695  107.182176   98.908757
9    92.257980  102.389740   90.866830   95.171517
10   86.201797  116.611586  101.080903  101.298096
11   88.607169   93.120983  109.325523   97.017892
12  106.203163  109.896314   96.631849  104.243775
13   99.466680  100.146088  102.707609  100.773459
14  113.265555  103.495383  116.660609  111.140516
15  109.593908  114.155903  115.858576  113.202796
16   92.104748   98.505640  120.875132  103.828507
17  105.204586   76.663817  120.402679  100.757027
18  109.110191   91.253520  100.636626  100.333446
19  102.188507   92.207204   98.075611   97.490441
20   95.147308   92.303128   97.650050   95.033495

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [46]:
# seu código aqui
random_df["log_med"] = np.log(random_df["media"])
random_df

            x1          x2          x3       media   log_med
1   100.098609  102.724374  112.832682  105.218555  4.656040
2   107.925073  110.361952  100.171146  106.152723  4.664879
3   116.659589   97.659080   80.752048   98.356906  4.588603
4    96.818871   85.470304   86.799406   89.696194  4.496428
5   106.288572   97.643141   94.359193   99.430302  4.599457
6    98.926508   81.536817  114.888968   98.450764  4.589557
7    93.371321   98.660907   86.677495   92.903241  4.531559
8    91.342399   98.201695  107.182176   98.908757  4.594198
9    92.257980  102.389740   90.866830   95.171517  4.555681
10   86.201797  116.611586  101.080903  101.298096  4.618068
11   88.607169   93.120983  109.325523   97.017892  4.574895
12  106.203163  109.896314   96.631849  104.243775  4.646732
13   99.466680  100.146088  102.707609  100.773459  4.612875
14  113.265555  103.495383  116.660609  111.140516  4.710795
15  109.593908  114.155903  115.858576  113.202796  4.729181
16   92.104748   98.505640  120.875132  103.828507  4.642741
17  105.204586   76.663817  120.402679  100.757027  4.612712
18  109.110191   91.253520  100.636626  100.333446  4.608499
19  102.188507   92.207204   98.075611   97.490441  4.579754
20   95.147308   92.303128   97.650050   95.033495  4.554229